ramenBot/.gradle/7.4/gc.properties
ramenBot/.gradle/7.4/checksums/checksums.lock
ramenBot/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
ramenBot/.gradle/7.4/dependencies-accessors/gc.properties
ramenBot/.gradle/7.4/executionHistory/executionHistory.lock
ramenBot/.gradle/7.4/fileChanges/last-build.bin
ramenBot/.gradle/7.4/fileHashes/fileHashes.lock
ramenBot/.gradle/buildOutputCleanup/buildOutputCleanup.lock
ramenBot/.gradle/buildOutputCleanup/cache.properties
ramenBot/.gradle/vcs-1/gc.properties
ramenBot/bin/main/DiscordIntegration.class
ramenBot/bin/main/Functions.class
ramenBot/bin/main/FunctionsA.class
ramenBot/bin/main/Menu.class
ramenBot/bin/main/Testing.class
ramenBot/bin/main/Upgrades.class
ramenBot/bin/main/User.class
